.hero {
	display: grid;
	grid-gap: 20px;
    grid-template-columns: auto 1fr auto;
    border-bottom: 2px solid black;
    align-items: center;
}

.box1,
.box2,
.box3,
.box4 {
	width: 100px;
	height: 100px;
	background-color: yellow;
	border: 2px solid black;
}

.lV1 {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.box5,
.box6,
.box7,
.box8 {
	width: 100px;
	height: 100px;
	background-color: yellow;
	border: 2px solid black;
}

.lH {
	display: flex;
	justify-content: center;
	gap: 75px;
}


.box9,
.box10,
.box11,
.box12 {
	width: 100px;
	height: 100px;
	background-color: yellow;
	border: 2px solid black;
}

.lV2 {
	display: inline-flex;
	flex-direction: column;
	gap: 25px;
}