* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 40px;
  font-family: Arial, sans-serif;
  background: #ffffff;
  text-align: center; 
}

body > div {
  width: 483px;
  height: 298px;
  background: #676470;
  transition: all 0.3s ease;

  display: inline-block;     
  margin: 20px;              
  vertical-align: top;

  border-radius: 20px;

  color: white;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  line-height: 298px;       
}

.fade {
  background: grey;
  opacity:0.5;
}

.fade:hover {
  opacity:1;
}

.color {
  background: red;
}

.color:hover {
  background:#53a7ea;
}

.shrink {
  background: cyan;
}

.shrink:hover {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.rotate {
  background: yellow;
  color: #ffffff;
}

.rotate:hover {
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

.circle {
  background: purple;
}

.circle:hover {
  border-radius:50%;
}

.shadow {
  background: #cc6a1d;
}

.shadow:hover {
  box-shadow:
  1px 1px #53a7ea,
  2px 2px #53a7ea,
  3px 3px #53a7ea;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}

.swing {
  background: lime;
}

@-webkit-keyframes swing {
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.border {
  background: black;
}

.border:hover {
 box-shadow: inset 0 0 0 25px #53a7ea;
}

.grow {
  width: calc(100% - 40px);
  background: #ff0099;
}

.grow:hover {
  -webkit-transform: scale(5);
  -ms-transform: scale(5);
  transform: scale(5);
}

